.createContainer {
  width: 60%;
  position: relative;
  background-color: #eaeaea;
  top: 20px;
  left: 100px;
  border: solid 1px #eaeaea;
  border-radius: 3px;
}
.inputName {
  width: 40%;
}
.inputTitle {
  width: 50%;
}
.inputTip {
  width: 40%;
}
.inputSubtitle {
  width: 50%;
}
