.editContainer {
  width: 60%;
  position: fixed;
  background-color: #eaeaea;
  left: 25%;
  top: 3%;
  border: solid 1px #eaeaea;
  border-radius: 3px;
}
.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.inputName {
  width: 40%;
}
.inputTitle {
  width: 50%;
}
.inputTip {
  width: 40%;
}
.inputSubtitle {
  width: 50%;
}
