.sideBar {
  height: 100vh;
  background-image: url("../image/HD-wallpaper-black-stylish-background-green-neon-lines-green-light-effects-abstract-black-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 2rem;
  position: sticky;
  left: 0px;
  top: 0px;
}
.sidebarLink {
  color: white;
  text-decoration: none;
}
.title {
  color: white;
}
